*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to #f5f7fa,#c3cfe2);
    text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 430px) {
  h1{
    font-size: 1rem;
  }
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    gap: 3rem;
    

}

.choice{
    height: 25vw;
    width: 25vw;

    max-width: 120px;   /*for desktop limit*/
    max-height: 120px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}


.choice img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap:2rem;
    font-size: 2rem;
    flex-wrap: wrap;
}

#user-score,
#comp-score {
  font-size: 2.5rem;
  font-weight: bold;
}

.msg-container {
  margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;

}
